{% import "github.com/codemicro/walrss/walrss/internal/http/neoviews/internal/components" %}
{% import "github.com/codemicro/walrss/walrss/internal/db" %}
{% import "github.com/codemicro/walrss/walrss/internal/urls" %}

{% func SettingsPage(user *db.User) %}
<!DOCTYPE html>
<html lang="en">
{%= components.Head("Settings") %}
<body>
{%= components.Navigation(menuItems, menuItemSettings) %}

{%= components.BeginMain() %}

<div class="container">
    <h1 class="title"><i class="bi bi-gear-fill"></i> Settings</h1>

    <div class="card" hx-target="this">
        {%= FragmentDeliverySettings(user) %}
    </div>

    <div class="card">
        <h2>Import and Export</h2>
        <p>You can import and export your feeds as OPML files using the buttons below. This will allow you to move your feed collection between different feed readers and processors.</p>
        <p><span class="warning-text">WARNING:</span> you have at least one JSON feed in your feed collection. These will be included in the OPML export, but may cause issues when being imported into other feed readers.</p>
    </div>
</div>

{%= components.EndMain() %}
{%= components.Toast() %}

</body>
</html>
{% endfunc %}

{% func FragmentDeliverySettings(user *db.User) %}
    <h2>Delivery Controls</h2>

    <input type="checkbox" name="enable" id="enable-digests-checkbox"
           {% if user.Settings.DigestsActive %}checked{% endif %}
           hx-put="{%s= urls.SettingsEditEnabledState %}"
    ><label for="enable-digests-checkbox">Enable digest delivery</label>

    <div class="pt"></div>

    <form hx-put="{%s urls.SettingsEditTimings %}">
        Deliver my digests
        <select
                id="day-selector"
                name="day"
                {% if !user.Settings.DigestsActive %}disabled{% endif %}
        >
            {% for i := db.SendDaily; i <= db.SendOnSunday; i += 1 %}
            <option
                    value="{%d int(i) %}"
                    {% if user.Settings.ScheduleDay == i %}selected{% endif %}
            >
                {% if i != db.SendDaily %}on {% endif %}{%s i.String() %}
            </option>
            {% endfor %}
        </select>
        at
        <select
                id="time-selector"
                name="time"
                {% if !user.Settings.DigestsActive %}disabled{% endif %}
        >
            {% for i := 0; i <= 23; i += 1 %}
            <option
                    value="{%d i %}"
                    {% if user.Settings.ScheduleHour == i %}selected{% endif %}
            >
                {%d i %}:00
            </option>
            {% endfor %}
        </select>
        UTC
        <button type="submit" class="button inline" {% if !user.Settings.DigestsActive %}disabled{% endif %}>Save</button>
    </form>
{% endfunc %}