{% import "github.com/codemicro/walrss/walrss/internal/db" %}
{% import "github.com/codemicro/walrss/walrss/internal/urls" %}
{% import "sort" %}
{% import "github.com/lithammer/shortuuid/v4" %}

{% code type MainPage struct {
    BasePage
    EnableDigests bool
    SelectedDay db.SendDay
    SelectedTime int
    Feeds db.FeedSlice
} %}

{% func (p *MainPage) Title() %}{% endfunc %}
{% func (p *MainPage) Body() %}
<div class="position-fixed top end-0 p-3" style="z-index: 11">
    <div id="toast" class="toast align-items-center text-white bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body" id="toastBody">
                Hello, world! This is a toast message.
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

{%= navbar() %}

<script>
    let toast = document.getElementById("toast")
    let toastBody = document.getElementById("toastBody")

    function showToast(delay) {
        new bootstrap.Toast(toast, {delay: delay}).show();
    }

    function errorHandler(text) {
        toastBody.innerText = "Error: " + text;
        toast.classList.remove("bg-success")
        toast.classList.add("bg-danger")
        showToast(5000)
    }

    document.body.addEventListener("htmx:sendError", function () {
        errorHandler("could not communicate with server");
    });
    document.body.addEventListener("htmx:responseError", function (evt) {
        errorHandler(evt.detail.xhr.response)
    });

    document.body.addEventListener("successResponse", function () {
        toastBody.innerText = "Success!"
        toast.classList.remove("bg-danger")
        toast.classList.add("bg-success")
        showToast(1500)
    })
</script>

<div class="container">
    <h1>My settings</h1>

    {%= p.RenderScheduleCard() %}

    <div class="card mt-3">
        <div class="card-header">
            Feeds
        </div>
        <div class="card-body">

            <table class="table">
                <thead>
                    <tr style="background: white; width: 100%; position: sticky; top: 0; border-bottom: black 1px solid;">
                        <th scope="col">Name</th>
                        <th scope="col">URL</th>
                        <th scope="col">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                <button
                                        type="button"
                                        class="btn btn-primary"
                                        hx-get="{%s= urls.NewFeedItem %}"
                                        hx-target="#feedListing"
                                        hx-swap="beforeend show:bottom"
                                >
                                    <i class="bi bi-plus"></i>
                                </button>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody id="feedListing">
                    {% code sort.Sort(p.Feeds) %}
                    {% for _, feed := range p.Feeds %}
                        {%= RenderFeedRow(feed.ID, feed.Name, feed.URL) %}
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header">
            Import/export
        </div>
        <div class="card-body">

            <div class="row row-cols-lg-auto g-3 align-items-center">

                <div class="col-12">
                    <a href="{%s= urls.ExportAsOPML %}" class="btn btn-sm btn-primary" target="_blank">Export (OPML)</a>
                </div>

                <div class="col-12">
                    <button class="btn btn-sm btn-primary" id="importOPMLButton">
                        Import (OPML)
                    </button>

                    <form id="importForm" style="display: none;" hx-trigger="submitImportForm" hx-indicator="importOPMLIndicator" hx-encoding='multipart/form-data' hx-post="{%s= urls.ImportFromOPML %}">
                        <input type="file" name="file" id="fileUploadBox">
                    </form>
                </div>

                <div class="col-12">
                    <div class="spinner-border align-middle request-indicator" id="importOPMLIndicator" style="width: 2rem; height: 2rem;" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>

            </div>

            <script>
                const selectFileButton = document.getElementById("importOPMLButton");
                const fileUploadBox = document.getElementById("fileUploadBox");
                const importForm = document.getElementById("importForm");

                selectFileButton.addEventListener("click", function () {
                    fileUploadBox.click();
                });

                fileUploadBox.addEventListener("change", function () {
                    importForm.dispatchEvent(new Event("submitImportForm"));
                });
            </script>

        </div>
    </div>

</div>
{% endfunc %}

{% func RenderFeedRow(id, name, url string) %}
<tr id="feed-{%s= id %}" class="align-middle" hx-target="this" hx-swap="outerHTML">
    <th id="feed-{%s= id %}-name" scope="row">{%s name %}</th>
    <td id="feed-{%s= id %}-url" >{%s url %}</td>
    <td>
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-primary" hx-get="{%s= urls.Expand(urls.EditFeedItem, id) %}">
                <i class="bi bi-pencil-square"></i>
            </button>
            <button
                    type="button"
                    class="btn btn-outline-danger"
                    hx-delete="{%s= urls.Expand(urls.EditFeedItem, id) %}"
                    hx-confirm="This will permanently delete this item. Are you sure?"
            >
                <i class="bi bi-trash"></i>
            </button>
        </div>
    </td>
</tr>
{% endfunc %}

{% func RenderFeedEditRow(id, name, url string) %}
<tr id="feed-{%s= id %}" class="align-middle alert alert-warning" hx-target="this" hx-swap="outerHTML">
    <th scope="row"><input
            class="form-control form-control-sm"
            type="text"
            name="name"
            id="feed-{%s= id %}-name"
            value="{%j name %}"
    ></th>
    <td><input
            class="form-control form-control-sm"
            type="url"
            name="url"
            id="feed-{%s= id %}-url"
            value="{%j url %}"
    ></td>
    <td>
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
            <button
                    type="button"
                    class="btn btn-outline-success"
                    hx-put="{%s= urls.Expand(urls.EditFeedItem, id) %}"
                    hx-include="#feed-{%s= id %}-name, #feed-{%s= id %}-url"
            >
                <i class="bi bi-check"></i>
            </button>
            <button type="button" class="btn btn-outline-danger" hx-get="{%s= urls.Expand(urls.CancelEditFeedItem, id) %}"><i class="bi bi-x"></i></button>
        </div>
    </td>
</tr>
{% endfunc %}

{% func RenderNewFeedItemRow() %}
{% code id := shortuuid.New() %}
<tr id="{%s= id %}" class="align-middle alert alert-warning" hx-target="this" hx-swap="outerHTML">
    <th scope="row"><input
            id="input-{%s= id %}-name"
            class="form-control form-control-sm"
            type="text"
            name="name"
            placeholder="Name"
    ></th>
    <td><input
            id="input-{%s= id %}-url"
            class="form-control form-control-sm"
            type="url"
            name="url"
            placeholder="URL"
    ></td>
    <td>
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
            <button
                    type="button"
                    class="btn btn-outline-success"
                    hx-post="{%s= urls.NewFeedItem %}"
                    hx-include="#input-{%s= id %}-name, #input-{%s= id %}-url">
                <i class="bi bi-check"></i>
            </button>
            <button type="button" class="btn btn-outline-danger" id="{%s= id %}-cancel"><i class="bi bi-x"></i></button>
        </div>
    </td>

    <script>
        document.getElementById("{%s= id %}-cancel").addEventListener("click", function () {
            document.getElementById("{%s= id %}").outerHTML = "";
        });
    </script>
</tr>
{% endfunc %}

{% func (p *MainPage) RenderScheduleCard() %}
<div class="card mt-3" id="scheduleCard" hx-target="this" hx-swap="outerHTML">
    <div class="card-header">
        Schedule
    </div>
    <div class="card-body">

        <div class="mb-2 row row-cols-lg-auto align-items-center">
            <div class="col-12">
                <input
                        type="checkbox"
                        id="enableCheckbox"
                        name="enable"
                        {% if p.EnableDigests %}checked{% endif %}
                        hx-put="{%s= urls.EditEnabledState %}"
                        hx-indicator="#enableCheckboxIndicator"
                >
                <label for="enableCheckbox">Enable digest delivery</label>
            </div>

            <div class="col-12">
                <div class="spinner-border spinner-border-sm request-indicator align-middle" style="width: 1rem; height: 1rem;" role="status" id="enableCheckboxIndicator">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>

        <form
                class="row row-cols-lg-auto g-3 align-items-center"
                hx-put="{%s urls.EditTimings %}"
                hx-indicator="#submitScheduleIndicator"
        >
            <div class="col-12">
                Deliver my digests
            </div>

            <div class="col-12">
                <label class="visually-hidden" for="daySelection">Day of week</label>
                <select
                        class="form-select"
                        id="daySelection"
                        name="day"
                        {% if !p.EnableDigests %}disabled{% endif %}
                >
                    {% for i := db.SendDaily; i <= db.SendOnSunday; i += 1 %}
                    <option
                            value="{%d int(i) %}"
                            {% if p.SelectedDay == i %}selected{% endif %}
                    >
                        {% if i != db.SendDaily %}on {% endif %}{%s i.String() %}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-12">at</div>

            <div class="col-12">
                <label class="visually-hidden" for="timeSelection">Time of day</label>
                <select
                        class="form-select"
                        id="timeSelection"
                        name="time"
                        {% if !p.EnableDigests %}disabled{% endif %}
                >
                    {% for i := 0; i <= 23; i += 1 %}
                    <option
                            value="{%d i %}"
                            {% if p.SelectedTime == i %}selected{% endif %}
                    >
                        {%d i %}:00
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-12">UTC</div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary" {% if !p.EnableDigests %}disabled{% endif %}>Save</button>
            </div>

            <div class="col-12">
                <div class="spinner-border align-middle request-indicator" id="submitScheduleIndicator" style="width: 2rem; height: 2rem;" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </form>

        <button class="mt-2 btn btn-primary btn-sm" hx-post="{%s= urls.SendTestEmail %}" hx-swap="none">Send test email</button>

    </div>
</div>
{% endfunc %}